@charset "utf-8";
/* general */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: medium/1.6 Helvetica, Arial, sans-serif;
}

h1 {
	color: #43484D;
}

h2 {
	margin-bottom: 0.25em;
	color: #43484D;
}

@media screen and (min-width: 640px) {
	h2 {
		position: relative;
		margin: 1em 0.75em -1.75em;
		text-shadow: 0 0 3px black;
		color: #FFF;
		font-size: 200%;
	}
}
a {
	color: #006BBF;
}

img {
	vertical-align: bottom;
	line-height: 1;
}

