@charset "UTF-8";

/*style*/
body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-size: 13px;
	line-height: nomal;
	font-family: 'Open Sans',verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"游ゴシック",YuGothic,sans-serif;
	color: #555;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0 0 20px;
}
h1,h2,h3,h4,h5,h6{
	font-size: 120%;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px 20px;
}
img{
	border: none;
}
a{
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
.screen-reader-text{
	display: none;
}
.clear{
	clear: both;
}
.clear hr{
	display: none;
}
hr{
	background-color: #ddd;
	border: 0;
	height: 1px;
	clear: both;
	margin: 30px auto;
}
blockquote{
	margin: 0px 0px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
blockquote blockquote{
	margin: 20px 0;
	background-color: #fff;
}
blockquote blockquote blockquote{
	margin: 20px 0;
	background-color: #f4f4f4;
}
blockquote p{
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
table{
	margin-bottom: 5px;
}
object,embed{
	width: 100%;
	display: block;
	margin: auto;
}
