[Unit]
Description=sousou server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/node --require /home/app/work/sousou/src/hook/babel-register.js /home/app/work/sousou/src/ssr-server.js
WorkingDirectory=/home/app/work/sousou
KillMode=process
Restart=always
User=app
Group=wheel

[Install]
WantedBy=multi-user.target

