.buynowtitle{
	text-align: center;
	font-size: 1.5rem;
	line-height: 200%;
	display: block;
	margin: 0 0 24px 0;
}

.buynowtitle span {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .buynowtitle span {
    display: block;
  }
}
